.heading-primary {
  font-weight: var(--fw-bold);
  font-size: var(--fs-x-large);
  text-align: center;
  margin-bottom: 49px;
}

.heading-secondary {
  font-weight: var(--fw-bold);
  font-size: var(--fs-large);
  background-color: var(--color-blue);
  padding: 23px 40px;
  /* border-radius: 10px 10px 0 0; */
}
