.section-form {
  background: var(--color-white);
  box-shadow: var(--box-shadow-card);
  border-radius: 10px;
  padding: 34px 102px;
}

.group-input {
  gap: 24px;
  display: flex;
}

.input-form {
  flex-direction: column;
  gap: 14px;
  display: flex;
}

.input,
.select-option {
  border: 1px solid var(--color-border);
  background-color: var(--color-primary);
  box-sizing: border-box;
  width: 486px;
  padding: 9px 16px;
}

.space-margin-input {
  margin-bottom: 24px;
}

.button-group {
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin-top: 42px;
  display: flex;
}
