.section-products {
  flex-direction: column;
  gap: 32px;
  display: flex;
}

.article-inner {
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-card);
  border-radius: 10px;
  padding: 40px;
}

.article-header {
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
  display: flex;
}

.new-badge {
  padding: 6px 10px;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border-radius: 5px;
  line-height: 20px;
}

.company-info {
  font-size: var(--fs-small);
  line-height: 22.4px;
  font-weight: var(--fw-normal);
}

.tags {
  gap: 6px;
  margin-bottom: 8px;
  display: flex;
}

.tag {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  font-weight: var(--fw-normal);
  border-radius: 5px;
  padding: 4px 8px;
  font-size: 14px;
  line-height: 16px;
}

.block-infor {
  justify-content: space-between;
  margin-bottom: 24px;
  display: flex;
}

.item-infor {
  flex-direction: column;
  align-items: center;
  gap: 8px;
  display: flex;
}

.item-1 {
  padding: 7px 109px;
  background-color: var(--color-blue);
  color: var(--color-white);
  text-align: center;
}

.item-2 {
  padding: 7px 259px;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.infor-location,
.infor-capital {
  font-weight: var(--fw-normal);
  font-size: var(--fs-medium);
  line-height: 25.2px;
}

.name {
  color: var(--color-white);
  font-size: 16px;
  font-weight: var(--fw-normal);
  line-height: 22.4px;
}

.product-item-2 {
  background-color: var(--color-border);
  text-align: center;
  padding: 222px 428px;
}

.name-item {
  font-weight: var(--fw-bold);
  font-size: var(--fs-x-large);
}
