@font-face {
  font-family: "Noto Sans JP";
  src: url("../../assets//font/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: var(--fw-normal);
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("../../assets//font/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: var(--fw-bold);
}
